@keyframes ovabrw-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ovabrw-booking-calendar-wrap .ovabrw-booking-calendar-filter {
  display: inline-flex;
  margin: 0 10px;
}
.ovabrw-booking-calendar-wrap .ovabrw-booking-calendar-filter .ovabrw-filter-fields, .ovabrw-booking-calendar-wrap .ovabrw-booking-items-available .ovabrw-filter-fields {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 15px 0;
}
.ovabrw-booking-calendar-wrap .ovabrw-booking-calendar-filter .ovabrw-filter-fields .ovabrw-field, .ovabrw-booking-calendar-wrap .ovabrw-booking-items-available .ovabrw-filter-fields .ovabrw-field {
  display: inline-flex;
  flex-direction: column;
  margin-right: 5px;
}
.ovabrw-booking-calendar-wrap .ovabrw-booking-calendar-filter .ovabrw-filter-fields .ovabrw-field input:read-only, .ovabrw-booking-calendar-wrap .ovabrw-booking-items-available .ovabrw-filter-fields .ovabrw-field input:read-only {
  background-color: #FFFFFF;
}
.ovabrw-booking-calendar-wrap .ovabrw-booking-calendar-filter .ovabrw-filter-fields input.button, .ovabrw-booking-calendar-wrap .ovabrw-booking-items-available .ovabrw-filter-fields input.button {
  vertical-align: bottom;
}
.ovabrw-booking-calendar-wrap .ovabrw-booking-calendar-filter .ovabrw-filter-fields span.dashicons-update-alt, .ovabrw-booking-calendar-wrap .ovabrw-booking-items-available .ovabrw-filter-fields span.dashicons-update-alt {
  display: none;
  font-size: 30px;
  width: 30px;
  height: 30px;
  animation: ovabrw-rotation 1s linear infinite;
}
.ovabrw-booking-calendar-wrap .ovabrw-booking-calendar-filter .select2 .select2-selection--single, .ovabrw-booking-calendar-wrap .ovabrw-booking-items-available .select2 .select2-selection--single {
  height: 30px;
}
.ovabrw-booking-calendar-wrap .ovabrw-booking-calendar-filter .select2 .select2-selection--single .select2-selection__rendered, .ovabrw-booking-calendar-wrap .ovabrw-booking-items-available .select2 .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
}
.ovabrw-booking-calendar-wrap .ovabrw-calendar-container #ovabrw-calendar.fc table.fc-scrollgrid thead tr th {
  z-index: 1;
}
.ovabrw-booking-calendar-wrap .ovabrw-calendar-container #ovabrw-calendar.fc .fc-daygrid-body {
  z-index: 4;
}
.ovabrw-booking-calendar-wrap .ovabrw-calendar-container #ovabrw-calendar.fc .fc-day.ovabrw-fc-day {
  position: relative;
  z-index: 4 !important;
}
.ovabrw-booking-calendar-wrap .ovabrw-calendar-container #ovabrw-calendar.fc .fc-scroller-harness {
  overflow: visible;
}
.ovabrw-booking-calendar-wrap .ovabrw-calendar-container #ovabrw-calendar.fc .fc-scroller-harness .fc-scroller-liquid-absolute {
  overflow: visible !important;
}
.ovabrw-booking-calendar-wrap .ovabrw-calendar-container #ovabrw-calendar.fc .fc-scroller-harness .fc-timegrid-event-harness.ovabrw-popup-info {
  z-index: 99999 !important;
}
.ovabrw-booking-calendar-wrap .ovabrw-calendar-container #ovabrw-calendar .fc-daygrid-day-frame .fc-daygrid-day-events .fc-event {
  margin: 3px;
}
.ovabrw-booking-calendar-wrap .ovabrw-backbone-modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 360px;
  background: #000;
  opacity: 0.7;
  z-index: 99999;
}
.ovabrw-booking-calendar-wrap .ovabrw-backbone-modal-backdrop span.dashicons-update-alt {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 30px;
  width: 30px;
  height: 30px;
  animation: ovabrw-rotation 1s linear infinite;
}

.tippy-box[data-theme=ovabrw-tippy-event] {
  background-color: unset;
}
.tippy-box[data-theme=ovabrw-tippy-event] .tippy-content {
  background-color: #FFF;
  border-color: #FFF;
  padding: 10px;
}
.tippy-box[data-theme=ovabrw-tippy-event] .tippy-content .ovabrw-event-data {
  font-size: 0.875em;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tippy-box[data-theme=ovabrw-tippy-event] .tippy-content .ovabrw-event-data li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tippy-box[data-theme=ovabrw-tippy-event] .tippy-content .ovabrw-event-data li strong, .tippy-box[data-theme=ovabrw-tippy-event] .tippy-content .ovabrw-event-data li p {
  display: inline-block;
  color: #6d6d6d;
  margin: 0;
}
.tippy-box[data-theme=ovabrw-tippy-event] .tippy-content .ovabrw-event-data li strong {
  margin-right: 10px;
  vertical-align: top;
}
.tippy-box[data-theme=ovabrw-tippy-event] .tippy-content .ovabrw-event-data li:last-child {
  margin: 0;
}
.tippy-box[data-theme=ovabrw-tippy-event] .tippy-arrow:before {
  color: #FFF;
}