.ovabrw-guest-info-fields {
  position: relative;
  display: none;
}
.ovabrw-guest-info-fields .ovabrw-required:after {
  content: "*";
  color: red;
  font-size: 20px;
  vertical-align: middle;
}
.ovabrw-guest-info-fields .ovabrw-loading {
  display: none;
}
.ovabrw-guest-info-fields .ovabrw-loading span.dashicons.dashicons-update-alt {
  animation: ovabrw_spin 2s linear infinite;
}
.ovabrw-guest-info-fields .heading {
  margin-bottom: 25px;
}
.ovabrw-guest-info-fields .heading .title {
  display: inline-block;
  margin-right: 5px;
}
.ovabrw-guest-info-fields .heading button {
  margin-top: 10px;
}
.ovabrw-guest-info-fields .heading .ovabrw-loading {
  vertical-align: text-bottom;
}
.ovabrw-guest-info-fields .heading .ovabrw-guest-info-action {
  display: flex;
  align-items: center;
}
.ovabrw-guest-info-fields .heading .ovabrw-guest-info-action button {
  margin-top: 0;
  margin-right: 5px;
}
.ovabrw-guest-info-fields .content table {
  width: 100%;
  margin: 0;
}
.ovabrw-guest-info-fields .content table thead tr th.actions {
  width: 11em;
}
.ovabrw-guest-info-fields .content table thead tr td.check-column {
  width: 3em;
}
.ovabrw-guest-info-fields .content table tbody tr {
  opacity: 1 !important;
}
.ovabrw-guest-info-fields .content table tbody tr:nth-child(odd) {
  background-color: #f6f7f7;
}
.ovabrw-guest-info-fields .content table tbody tr.disabled {
  opacity: 0.5 !important;
}
.ovabrw-guest-info-fields .content table tbody tr th {
  padding-top: 15px;
}
.ovabrw-guest-info-fields .content table tbody tr th.ovabrw-check-column {
  width: 2.2em;
  vertical-align: top;
  padding: 15px 0 0 3px;
}
.ovabrw-guest-info-fields .content table tbody tr td {
  padding: 15px 10px;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span {
  cursor: pointer;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons {
  padding: 5px;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-edit:before {
  color: #2271b1;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-trash:before {
  color: #d63638;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-visibility {
  display: none;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-visibility.active {
  display: inline-block;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-visibility:before {
  color: #28a745;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-hidden {
  display: none;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-hidden.active {
  display: inline-block;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-hidden:before {
  color: #6c757d;
  opacity: 0.5;
}
.ovabrw-guest-info-fields .content table tbody tr td .actions span.dashicons-menu {
  cursor: grabbing;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info .ovabrw-popup-guest-info-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form {
  position: relative;
  margin: 100px auto;
  width: 50%;
  height: auto;
  max-height: 90vh;
  overflow: auto;
  background-color: #FFF;
  padding: 30px;
  border-radius: 4px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table {
  border-spacing: 0 20px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td {
  width: 80%;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td.label {
  width: 20%;
  vertical-align: top;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td input[type=text], .ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td input[type=tel], .ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td input[type=email], .ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td select, .ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td textarea {
  width: 100%;
  max-width: 100%;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td textarea {
  height: 100px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr td .ovabrw-datepicker {
  background-color: #FFF;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr.default .file-default {
  display: none;
  margin: 5px 0 0;
  font-size: 14px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr.default .file-default .btn {
  margin-left: 5px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr.status label {
  display: block;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form > table tbody tr.status label:not(:last-child) {
  margin-bottom: 10px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .popup-guest-info-close {
  position: sticky;
  float: right;
  right: -30px;
  top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #d63638;
  color: #FFF;
  font-size: 13px;
  line-height: 1;
  padding: 7px 9px;
  margin: -30px -30px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .popup-guest-info-close:hover {
  background-color: #c82333;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table {
  border-radius: 4px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr:nth-child(odd) {
  background-color: #f6f7f7;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr td {
  width: auto;
  padding: 10px 5px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr td:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr td input {
  width: 100%;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr td span.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding: 3px 9px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr td span.btn:not(:last-child) {
  margin-right: 10px;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr td span.btn.btn-add-new {
  background-color: #00A0D2;
  border: 1px solid #0073AA;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr td span.btn.btn-add-remove {
  background-color: #ff6666;
  border: 1px solid #ff4c4c;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-options table tbody tr td span.dashicons {
  cursor: grabbing;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-submit {
  display: flex;
  align-items: center;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-submit .button-success {
  background: #28a745;
  border-color: #28a745;
  color: #FFFFFF;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-submit .button-success:focus {
  background: #28a745;
  border-color: #28a745;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #28a745;
}
.ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form .ovabrw-guest-info-submit .ovabrw-loading {
  margin-left: 5px;
}
@media only screen and (max-width: 1024px) {
  .ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .ovabrw-guest-info-fields .ovabrw-popup-guest-info #ovabrw-popup-guest-info-form {
    width: 80%;
  }
}

@keyframes ovabrw_spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}