// Basic
#metabox-event-basic {
	label {
		min-width: 100px;
		display: inline-block;
		vertical-align: middle;
	}
	input, select {
		min-width: 308px;
		display: inline-block;
	}
	input[type=checkbox] {
		min-width: 16px;
	}
	#ovaev_book_link {
		height: 28px;
		padding-top: 1px;
	}
	.ovaev_row {
		.select2-container {
			min-width: 308px;

			.select2-selection--single {
				.select2-selection__rendered {
					padding: 0 .5em;
				}
			}
		}
	}
}

// Contact
#metabox-event-contact {
	label {
		min-width: 120px;
		display: inline-block;
		vertical-align: middle;
	}
	input {
		min-width: 330px;
		display: inline-block;
	}
}

// Gallery
#metabox-event-gallery {
	ul#gallery-metabox-list {
		display: flex;
		flex-wrap: wrap;
		li {
			width: auto;
		}
	}
	li {
		display: flex;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 15px;
		margin-top: 10px;

		div {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		a.change-image {
			text-align: center;
			width: 120px;
			margin: 10px auto 5px auto;
		}
		small {
			text-align: center;
		}
	}
}

// Admin Settings
.ovaev_admin_settings {
	th {
		font-weight: 400;
	}
	.ovaev_template_single {
		.select2-selection {
			min-width: 194px;
		}
	}
}