@mixin transaction( $propertty, $duration, $timing ) {
	transition: $propertty $duration $timing;
    -moz-transition: $propertty $duration $timing;
    -webkit-transition: $propertty $duration $timing;
    -o-transition: $propertty $duration $timing;
}
.ova-contact-form {
	display: block;
	position: relative;
	background: #fff;
	padding: 30px;
	border: 1px solid var(--border);
	border-radius: 10px;

	@media(max-width: 479px) {
		padding: 15px;
	}
	.contact-info { 
		display: flex;
	    justify-content: left;
	    align-items: flex-start;
	    gap: 10px;
	    border-bottom: 1px solid var(--border);
		padding-bottom: 17px;
		margin-bottom: 17px;

		@media(max-width: 350px) {
			flex-flow: column;
		}
		img {
			width: 60px;
			height: 60px;
			object-fit: cover;
			border-radius: 100%;

			@media(max-width: 350px) {
				margin-bottom: 10px;
			}
		}
		.info {
			.label {
				margin: 0;
				line-height: 1;
				font-size: 16px;
   	 			font-weight: 700;
   	 			margin-bottom: 8px;
			}
			.description {
				display: block;
				line-height: 1.2;
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 4px;
			}
			.phone-address {
				display: inline-block;
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
	.button {
		@include transaction( all, 0.3s, ease);
		display: block;
		background: #FFFFFF;
		border: 1px solid var(--primary);
		border-radius: 5px;
		padding-top: 16px;
		padding-bottom: 16px;
		margin-bottom: 14px;
		text-align: center;

		&:hover {
			@include transaction( all, 0.3s, ease);
		}
		i {
			@include transaction( all, 0.3s, ease);
		}
		span {
			@include transaction( all, 0.3s, ease);
			font-size: 16px;
			margin-left: 4px;
		    text-transform: capitalize;
		}
	}
	.date {
		display: block;
		color: var(--light);
		font-size: 14px;
    	font-weight: 400;
	}
	.time {
		display: block;
		color: var(--text);
		font-size: 14px;
    	font-weight: 400;
	}
}