.wrap_header_banner {
  width: 100%;
  position: relative;
}
.wrap_header_banner.left ul.breadcrumb {
  justify-content: flex-start;
}
.wrap_header_banner.right ul.breadcrumb {
  justify-content: flex-end;
}
.wrap_header_banner.center ul.breadcrumb {
  justify-content: center;
}
.wrap_header_banner ul.breadcrumb {
  margin: 0;
  padding: 0;
}
.wrap_header_banner ul.breadcrumb li .separator i {
  opacity: 0.6;
}
.wrap_header_banner.bg_feature_img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.wrap_header_banner .cover_color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrap_header_banner .header_banner_el {
  position: relative;
  z-index: 1;
}
.wrap_header_banner .header_title {
  margin: 0;
  padding: 0;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 1.1em;
  font-weight: 500;
}