.ova-road-map {
	width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
		padding-left: 40px;
	}
    .triangle-topright {
		position: absolute;
		width: 0;
		height: 0;
		left: -35px;
		top: 20px;
		z-index: 9;
		border-top: 35px solid #fff;
		border-left: 35px solid transparent;
		filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.07));
    }
    .triangle-topleft {
    	position: absolute;
    	width: 0;
    	height: 0;
    	right: -35px;
		top: 20px;
		z-index: 9;
    	border-top: 35px solid #fff;
    	border-right: 35px solid transparent;
    	filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.07));
    }
    .icon {
    	position: absolute;
    	left: 50%;
    	transform: translateX(-50%);
    	width: 36px;
    	height: 36px;
    	background-color: var(--secondary);
    	border-radius: 50%;
    	display: inline-block;
    	text-align: center;

    	i {
    		font-size: 20px;
    		line-height: 36px;
    		color: #fff;
    	}
    	@media screen and (max-width: 1200px) {
			left: 40px;
		}
    }
    .road-map-wrapper {
    	padding: 20px 0;

    	.timeline-column {
    		.date {
    			position: absolute;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 20px;
				color: var(--heading);
				font-weight: 700;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				background: #FFFFFF;
				box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.12);
				z-index: 99;

				&.active {
					color: #fff;
					background-color: var(--primary);
				}
    		}
    		.timeline-item-left {
    			display: flex;
    			flex-wrap: nowrap;
    			justify-content: flex-end;
    			position: relative;

    			&:before {
		    		position: absolute;
		    		content: "";
		    		height: 100%;
		    		width: 0;
				    left: 50%;
		    		bottom: 0;
		    		border-left: 2px solid #1d1b1a1a;
		    		@media screen and (max-width: 1200px) {
		    			left: 0;
		    		}
		    	}
		    	&:first-child {
		    		&:before {
		    			height: 130%;
		    		}
		    	}
		    	&:not(:last-child) {
		    		padding-bottom: 70px;
		    	}
		    	&:last-child {
		    		&:before {
			    		height: 140%;
			    		top: 0;
			    	}
		    	}
		    	&:not(:first-child) {
		    		&:before {
			    		height: 128%;
			    		top: 0;
			    	}
		    	}
    			.timeline-info {
    				width: 50%;
    				position: relative;

    				@media screen and (max-width: 1200px) {
						width: 100%;
					}
					.content-info {
						position: relative;
						margin-left: 105px;
						padding: 10px;
						background-color: #fff;
						box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);

						@media screen and (max-width: 767px) {
							margin-left: 80px;
						}
	    				.timeline-content {
	    					display: flex;
	    					align-items: center;

	    					.img {
	    						flex-shrink: 0;
	    						width: 220px;
	    						height: 152px;

	    						@media screen and (max-width: 767px) {
									display: none;
								}
	    						img {
	    							display: block;
	    							width: 100%;
	    							height: 100%;
	    							object-fit: cover;
		    						object-position: center;
	    						}
	    					}
	    					.content {
	    						padding: 0 30px;

	    						@media screen and (max-width: 767px) {
									padding: 20px;
								}
	    						.title {
	    							margin: 0;
	    							font-size: 20px;
	    						}
	    						.desc {
	    							margin: 0;
	    							margin-top: 10px;
	    						}
	    					}
	    				}
					}
    				.date {
						left: -40px;
					}
    			}
    		}
    		.timeline-item-right {
    			display: flex;
    			flex-wrap: nowrap;
    			justify-content: flex-start;
    			position: relative;

    			.triangle-topright {
    				visibility: hidden;
    			}
    			@media screen and (max-width: 1200px) {
	    			.triangle-topleft {
	    				visibility: hidden;
	    			}
	    			.triangle-topright {
	    				visibility: visible;
	    			}
	    		}
    			&:before {
		    		position: absolute;
		    		content: "";
		    		height: 100%;
		    		width: 0;
				    left: 50%;
		    		bottom: 0;
		    		border-left: 2px solid #1d1b1a1a;

		    		@media screen and (max-width: 1200px) {
		    			left: 0;
		    		}
		    	}
		    	&:not(:last-child) {
		    		padding-bottom: 70px;
		    	}
		    	&:last-child {
		    		&:before {
			    		height: 140%;
			    		top: 0;
			    	}
		    	}
    			.timeline-info {
    				width: 50%;
    				position: relative;

    				@media screen and (max-width: 1200px) {
						width: 100%;
					}
    				.content-info {
    					position: relative;
    					padding: 20px;
						margin-right: 105px;
						padding: 10px;
						background-color: #fff;
						box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);

						@media screen and (max-width: 1200px) {
							margin-right: 0;
							margin-left: 105px;
						}
						@media screen and (max-width: 767px) {
							margin-left: 80px;
						}
	    				.timeline-content {
	    					display: flex;
	    					align-items: center;

	    					@media screen and (max-width: 1200px) {
								flex-direction: row-reverse;
								justify-content: flex-end;
							}
	    					.img {
	    						flex-shrink: 0;
	    						width: 220px;
	    						height: 152px;

	    						@media screen and (max-width: 767px) {
									display: none;
								}
	    						img {
	    							display: block;
	    							width: 100%;
	    							height: 100%;
	    							object-fit: cover;
		    						object-position: center;
	    						}
	    					}
	    					.content {
	    						text-align: right;
	    						padding: 0 30px;

	    						@media screen and (max-width: 1200px) {
									text-align: left;
								}
	    						@media screen and (max-width: 767px) {
									padding: 20px;
								}
	    						.title {
	    							margin: 0;
	    							font-size: 20px;
	    						}
	    						.desc {
	    							margin: 0;
	    							margin-top: 10px;
	    						}
	    					}
	    				}
    				}
    				.date {
						right: -40px;

						@media screen and (max-width: 1200px) {
							left: -40px;
							right: unset;
						}
					}

    			}
    		}
    	}
    }
}
.rtl {
	.ova-road-map {
		.road-map-wrapper {
			.timeline-column {
				.timeline-item-left {
					.timeline-info {
						.content-info {
							margin-left: 0;
							margin-right: 105px;

							@media screen and (max-width: 1200px) {
								margin-right: 0;
								margin-left: 105px;
							}
							@media screen and (max-width: 767px) {
								margin-left: 80px;
							}
						}
						.date {
							left: unset;
							right: -40px;

							@media screen and (max-width: 1200px) {
								left: -40px;
								right: unset;
							}
						}
					}
				}
				.timeline-item-right {
					.timeline-info {
						.content-info {
							margin-left: 105px;
							margin-right: 0;
							
							@media screen and (max-width: 767px) {
								margin-left: 80px;
							}
						}
						.date {
							left: -40px;
							right: unset;
						}
					}
				}
			}
		}
	}    
}