.ovabrw-product-ajax-filter .categories-filter {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ovabrw-product-ajax-filter .categories-filter .item-term {
  font-family: var(--ovabrw-primary-font);
  font-size: var(--ovabrw-second-heading-size);
  font-weight: var(--ovabrw-second-heading-weight);
  line-height: var(--ovabrw-second-heading-line-height);
  color: var(--ovabrw-second-heading-color);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 15px 20px 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.ovabrw-product-ajax-filter .categories-filter .item-term.active, .ovabrw-product-ajax-filter .categories-filter .item-term:hover {
  color: var(--ovabrw-primary-color);
}
.ovabrw-product-ajax-filter .ovabrw-result {
  position: relative;
  margin-bottom: 15px;
}
.ovabrw-product-ajax-filter .ovabrw-result .ovabrw-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px 26px;
  margin: 0;
  padding: 0;
  list-style-type: none !important;
}
.ovabrw-product-ajax-filter .ovabrw-result .ovabrw-product-list:before {
  display: none;
}
.ovabrw-product-ajax-filter .ovabrw-result .ovabrw-product-list .item {
  overflow: hidden;
}
.ovabrw-product-ajax-filter .ovabrw-result .ovabrw-product-list.ovabrw-column1 {
  grid-template-columns: 1fr;
}
@media only screen and (max-width: 1024px) {
  .ovabrw-product-ajax-filter .ovabrw-result .ovabrw-product-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .ovabrw-product-ajax-filter .ovabrw-result .ovabrw-product-list {
    grid-template-columns: 1fr;
  }
}
.ovabrw-product-ajax-filter .ovabrw-result .ovabrw-loader {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(0, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--ovabrw-primary-color) var(--ovabrw-primary-color) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1;
}
.ovabrw-product-ajax-filter .ovabrw-result .ovabrw-loader:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent var(--ovabrw-primary-color) var(--ovabrw-primary-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.ovabrw-product-ajax-filter .ovabrw-pagination {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ovabrw-product-ajax-filter .ovabrw-pagination li .page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  border: 1px solid var(--ovabrw-light-color);
  background-color: #FFF;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: var(--ovabrw-primary-font);
  font-size: var(--ovabrw-label-size);
  font-weight: var(--ovabrw-label-weight);
  line-height: var(--ovabrw-label-line-height);
  color: var(--ovabrw-label-color);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ovabrw-product-ajax-filter .ovabrw-pagination li .page-numbers.current, .ovabrw-product-ajax-filter .ovabrw-pagination li .page-numbers:hover {
  color: #FFF;
  background-color: var(--ovabrw-primary-color);
  border-color: var(--ovabrw-primary-color);
}